<!DOCTYPE html>
<head>
    <title>
        Salary Calculator
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   </head>
<body>
    <!-- <div class = "form-group" id = "container">

            <div class = "heading" id = "heading">
                    <h1>
                        Salary 
                    </h1>
            </div>
            <form id = "form" class = "form-group">
                
            <div class = "form-group row" id = "userInfo">
                <legend > </legend>
                <div class = "col-xs-3">
                   <label for = "firstName" >Enter Employee Name : </label>
                   <input class="form-control" type = "text" class="form-control" id="firstName"></input>
                </div>
                <div class = "col-xs-3">
                   <label for = "grossPay" >Enter Gross Pay : </label>
                   <input class="form-control" type = "text" id="grossPay"></input>
                </div>

            </div>

            <div class = "form-group row">

                <div class = "form-group col-xs-3">
                    <label for = "bonus" >Bonus $ : </label>
                    <input class="form-control" type ="number" id="bonus"></input>
                </div>
                <div class = "form-group col-xs-3">    
                    <label for = "allowances" >Allowances $ : </label>
                    <input class="form-control" type ="number" id="allowances"></input>
                </div>
            </div>

            <div class = "form-group row">
                <div class = "form-group col-md-3">    
                    <label for = "incometax" >Income Tax % : </label>
                    <input class="form-control" type ="number" id="incometax"></input>
                </div>
                <div class = "form-group col-md-3">
                    <label for = "empInsurance" >Employee Insurance % : </label>
                    <input class="form-control" type ="number" id="empInsurance"></input>
                </div>
                <div class = "form-group col-md-3">
                    <label for = "cpp" >Canadian Pension Plan % : </label>
                    <input class="form-control" type ="number" id="cpp"></input>
                </div>        
            </div>

            <div class="form-check-inline">
                <label class="form-check-label"> Gender</label></br>   
                <input class="form-check-input" type="radio" id= "male" value="Male" name = "gender">
                <label class="form-check-label" for = "male"> Male  </label>

                <input class="form-check-input" type="radio" value="Female" name = "gender">
                <label class="form-check-label"> Female  </label>
            </div>

            <div class="form-check form-check-inline">
                
                <label class="form-check-label" for = "dependants" > 1  </label>
                <input class="form-check-input" type="radio" value= "1" name = "dependants"></input>

                <label class="form-check-label" for = "dependants" > 2  </label>
                <input class="form-check-input" type="radio" value= "2" name = "dependants"></input>
            
                <label class="form-check-label" for = "dependants" > 3 </label>
                <input class="form-check-input" type="radio" value= "3" name = "dependants"></input>
          
                <label class="form-check-label" for = "dependants" > 4 </label>
                <input class="form-check-input" type="radio" value= "4"  name = "dependants"></input>
            </div>        
            
        
        <div class="button">
        <button type = "submit" class="btn btn-primary mb-2"> Submit Form</button> 
        </div>
        
        <label id="result"></label>
        </div> 
        </fieldset> 
    </form> -->

    <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstName">Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="Name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Enter Gross Salary</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
</body>
<script type = "module" src = "/js/backend.js"></script>
</html>